<div class="encabezado-cont">
        <div class="menu">
        <nav class="navbar">
        <div class="nav-container">
            <div class="logo-cont">
                <div class="logo-img"><img src="../media/Iconoweb.png" alt=""></div>
                <div><a href="#" class="logo">Psifamilia</a></div>
            </div>
            <div class="menu-toggle" id="menuToggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="menu" id="mainMenu">
                <li><a href="#">Inicio</a></li>
                
                <li class="has-dropdown">
                    <a href="#">Servicios</a>
                    <ul class="dropdown">
                        <li><a href="#">Terapia a Niños</a></li>
                        <li><a href="#">Terapia Adultos mayores</a></li>
                        <li><a href="#">Terapia de pareja</a></li>
                    </ul>
                </li>
                
                <li><a href="#">Agendar</a></li>
                <li><a href="#">Quiénes somos</a></li>
                <li><a href="#">Contáctenos</a></li>
                <li>
                    <a href="#" class="auth-button" id="authButton">Iniciar sesión</a>
                </li>
            </ul>
        </div>
    </nav>     
        </div>
    </div>